### 15 february merging to see what is different what you lost after copernicus corrected their data

In [1]:
import pandas as pd

### the dataset below has translated NUTS regions that were done manually

In [2]:
df = pd.read_excel("final_all_aois_details_WITH_NUTS_TRANSLATED.xlsx")
df

,activation_code,event_name,reason,activator,eventTime,activationTime,countries,aoiName,aoiNumber,type,...,nuts3_2024_urban_rural_typology,nuts3_2024_coastal_regions,nuts2_code_2024,nuts2_name_2024,nuts1_code_2024,nuts1_name_2024,nuts3_name_2024_en,nuts2_name_2024_en,nuts1_name_2024_en,data
0,EMSR773,"Flood in Valencia Region, Spain","On 29 October 2024 at 14:30 UTC, an extraordin...",Spain|Ministry of Interior - Centro Nacional d...,2024-10-29T14:30:00,2024-10-29T16:40:00,Spain,Castellon province,6,DEL,...,intermediate,coastal,ES52,Comunitat Valenciana,ES5,Este,Castellón province,Valencian Community,Eastern Spain,final excel
1,EMSR773,"Flood in Valencia Region, Spain","On 29 October 2024 at 14:30 UTC, an extraordin...",Spain|Ministry of Interior - Centro Nacional d...,2024-10-29T14:30:00,2024-10-29T16:40:00,Spain,Castellon province,6,DEL,...,intermediate,coastal,ES52,Comunitat Valenciana,ES5,Este,Castellón province,Valencian Community,Eastern Spain,final excel
2,EMSR773,"Flood in Valencia Region, Spain","On 29 October 2024 at 14:30 UTC, an extraordin...",Spain|Ministry of Interior - Centro Nacional d...,2024-10-29T14:30:00,2024-10-29T16:40:00,Spain,Castellon province,6,DEL,...,intermediate,coastal,ES52,Comunitat Valenciana,ES5,Este,Castellón province,Valencian Community,Eastern Spain,final excel
3,EMSR773,"Flood in Valencia Region, Spain","On 29 October 2024 at 14:30 UTC, an extraordin...",Spain|Ministry of Interior - Centro Nacional d...,2024-10-29T14:30:00,2024-10-29T16:40:00,Spain,Castellon province,6,DEL,...,intermediate,coastal,ES52,Comunitat Valenciana,ES5,Este,Castellón province,Valencian Community,Eastern Spain,final excel
4,EMSR773,"Flood in Valencia Region, Spain","On 29 October 2024 at 14:30 UTC, an extraordin...",Spain|Ministry of Interior - Centro Nacional d...,2024-10-29T14:30:00,2024-10-29T16:40:00,Spain,Castellon province,6,DEL,...,intermediate,coastal,ES52,Comunitat Valenciana,ES5,Este,Castellón province,Valencian Community,Eastern Spain,final excel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1696,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel
1697,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel
1698,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel
1699,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel
1700,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel

In [3]:
scraped_data = pd.read_excel("final_scraped_data.xlsx")
scraped_data

,activation_code,aoiName,aoiNumber,type,monitoring,deliveryTime,subcategory_unit,affected,total,data
0,EMSR775,Olden,1,DEL,0,2024-11-01T14:12:00,NaN,NaN,NaN,scraped
1,EMSR775,Oyane,2,DEL,0,2024-11-01T18:30:00,NaN,NaN,NaN,scraped
2,EMSR775,Oyane,2,DEL,1,NaN,NaN,NaN,NaN,scraped
3,EMSR775,Aurlandsvangen,3,DEL,0,2024-11-01T17:25:00,NaN,NaN,NaN,scraped
4,EMSR775,Over Ardal,4,DEL,0,2024-11-01T20:43:00,NaN,NaN,NaN,scraped
...,...,...,...,...,...,...,...,...,...,...
7666,EMSR657,DaugavaRiver,1,DEL,5,2023-04-06T18:59:00,Transportation_Secondary Road_(km),8.0,207.7,scraped
7667,EMSR657,DaugavaRiver,1,DEL,5,2023-04-06T18:59:00,Transportation_Airfield runways_(km),0.9,12.4,scraped
7668,EMSR657,DaugavaRiver,1,DEL,5,2023-04-06T18:59:00,Transportation_Long-distance railways_(km),0.5,316.6,scraped
7669,EMSR657,DaugavaRiver,1,DEL,5,2023-04-06T18:59:00,Estimated population_None_(),300.0,83000.0,scraped
7670,EMSR657,DaugavaRiver,1,DEL,5,2023-04-06T18:59:00,Previous flooded area_None_(ha),NaN,5485.1,scraped

In [4]:
df_combined = pd.concat([df, scraped_data], ignore_index=True)
df_combined

,activation_code,event_name,reason,activator,eventTime,activationTime,countries,aoiName,aoiNumber,type,...,nuts3_2024_coastal_regions,nuts2_code_2024,nuts2_name_2024,nuts1_code_2024,nuts1_name_2024,nuts3_name_2024_en,nuts2_name_2024_en,nuts1_name_2024_en,data,total
0,EMSR773,"Flood in Valencia Region, Spain","On 29 October 2024 at 14:30 UTC, an extraordin...",Spain|Ministry of Interior - Centro Nacional d...,2024-10-29T14:30:00,2024-10-29T16:40:00,Spain,Castellon province,6,DEL,...,coastal,ES52,Comunitat Valenciana,ES5,Este,Castellón province,Valencian Community,Eastern Spain,final excel,NaN
1,EMSR773,"Flood in Valencia Region, Spain","On 29 October 2024 at 14:30 UTC, an extraordin...",Spain|Ministry of Interior - Centro Nacional d...,2024-10-29T14:30:00,2024-10-29T16:40:00,Spain,Castellon province,6,DEL,...,coastal,ES52,Comunitat Valenciana,ES5,Este,Castellón province,Valencian Community,Eastern Spain,final excel,NaN
2,EMSR773,"Flood in Valencia Region, Spain","On 29 October 2024 at 14:30 UTC, an extraordin...",Spain|Ministry of Interior - Centro Nacional d...,2024-10-29T14:30:00,2024-10-29T16:40:00,Spain,Castellon province,6,DEL,...,coastal,ES52,Comunitat Valenciana,ES5,Este,Castellón province,Valencian Community,Eastern Spain,final excel,NaN
3,EMSR773,"Flood in Valencia Region, Spain","On 29 October 2024 at 14:30 UTC, an extraordin...",Spain|Ministry of Interior - Centro Nacional d...,2024-10-29T14:30:00,2024-10-29T16:40:00,Spain,Castellon province,6,DEL,...,coastal,ES52,Comunitat Valenciana,ES5,Este,Castellón province,Valencian Community,Eastern Spain,final excel,NaN
4,EMSR773,"Flood in Valencia Region, Spain","On 29 October 2024 at 14:30 UTC, an extraordin...",Spain|Ministry of Interior - Centro Nacional d...,2024-10-29T14:30:00,2024-10-29T16:40:00,Spain,Castellon province,6,DEL,...,coastal,ES52,Comunitat Valenciana,ES5,Este,Castellón province,Valencian Community,Eastern Spain,final excel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9367,EMSR657,NaN,NaN,NaN,NaN,NaN,NaN,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,207.7
9368,EMSR657,NaN,NaN,NaN,NaN,NaN,NaN,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,12.4
9369,EMSR657,NaN,NaN,NaN,NaN,NaN,NaN,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,316.6
9370,EMSR657,NaN,NaN,NaN,NaN,NaN,NaN,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,83000.0
9371,EMSR657,NaN,NaN,NaN,NaN,NaN,NaN,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,5485.1

In [5]:
df_combined.to_excel('merged_final_with_nuts_translated_to_new_scraped_data.xlsx', index=False)

### Now that you checked, clean the scrape data leave the old, and then fill up manually the blanks in the other columns

In [6]:
df_clean = pd.read_excel("merged_final_with_nuts_translated_to_new_scraped_data.xlsx")
df_clean

,activation_code,event_name,reason,activator,eventTime,activationTime,countries,aoiName,aoiNumber,type,...,nuts3_2024_coastal_regions,nuts2_code_2024,nuts2_name_2024,nuts1_code_2024,nuts1_name_2024,nuts3_name_2024_en,nuts2_name_2024_en,nuts1_name_2024_en,data,total
0,EMSR775,NaN,NaN,NaN,NaN,NaN,NaN,Voss,5,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,NaN
1,EMSR775,NaN,NaN,NaN,NaN,NaN,NaN,Viksdalen,11,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,100.0
2,EMSR775,NaN,NaN,NaN,NaN,NaN,NaN,Viksdalen,11,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,8.0
3,EMSR775,NaN,NaN,NaN,NaN,NaN,NaN,Viksdalen,11,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,281.1
4,EMSR775,NaN,NaN,NaN,NaN,NaN,NaN,Viksdalen,11,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9367,EMSR657,NaN,NaN,NaN,NaN,NaN,NaN,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,207.7
9368,EMSR657,NaN,NaN,NaN,NaN,NaN,NaN,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,207.7
9369,EMSR657,NaN,NaN,NaN,NaN,NaN,NaN,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,207.7
9370,EMSR657,NaN,NaN,NaN,NaN,NaN,NaN,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,207.7
9371,EMSR657,NaN,NaN,NaN,NaN,NaN,NaN,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraped,207.7

In [7]:
df_final_clean = df_clean[df_clean['data'] == 'final excel']
df_final_clean

,activation_code,event_name,reason,activator,eventTime,activationTime,countries,aoiName,aoiNumber,type,...,nuts3_2024_coastal_regions,nuts2_code_2024,nuts2_name_2024,nuts1_code_2024,nuts1_name_2024,nuts3_name_2024_en,nuts2_name_2024_en,nuts1_name_2024_en,data,total
36,EMSR773,NaN,NaN,NaN,NaN,NaN,NaN,Valencia province,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,final excel,183.1
38,EMSR773,NaN,NaN,NaN,NaN,NaN,NaN,Valencia province,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,final excel,7380.0
43,EMSR773,NaN,NaN,NaN,NaN,NaN,NaN,Valencia province,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,final excel,1370.3
44,EMSR773,NaN,NaN,NaN,NaN,NaN,NaN,Valencia province,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,final excel,324.6
46,EMSR773,NaN,NaN,NaN,NaN,NaN,NaN,Valencia province,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,final excel,17597.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9339,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel,NaN
9347,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel,NaN
9355,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel,NaN
9360,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel,NaN
9364,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel,NaN

### you dont need thew total column

In [8]:
df_final_clean = df_final_clean.drop(columns=['total'])
df_final_clean

,activation_code,event_name,reason,activator,eventTime,activationTime,countries,aoiName,aoiNumber,type,...,nuts3_2024_urban_rural_typology,nuts3_2024_coastal_regions,nuts2_code_2024,nuts2_name_2024,nuts1_code_2024,nuts1_name_2024,nuts3_name_2024_en,nuts2_name_2024_en,nuts1_name_2024_en,data
36,EMSR773,NaN,NaN,NaN,NaN,NaN,NaN,Valencia province,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,final excel
38,EMSR773,NaN,NaN,NaN,NaN,NaN,NaN,Valencia province,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,final excel
43,EMSR773,NaN,NaN,NaN,NaN,NaN,NaN,Valencia province,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,final excel
44,EMSR773,NaN,NaN,NaN,NaN,NaN,NaN,Valencia province,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,final excel
46,EMSR773,NaN,NaN,NaN,NaN,NaN,NaN,Valencia province,1,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,final excel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9339,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel
9347,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel
9355,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel
9360,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel
9364,EMSR657,"Flood in Daugava River valley, Latvia",As of 30 March 2023 a flood due to melted snow...,Latvia|Latvian State Fire and Rescue Service,2023-03-30T00:00:00,2023-03-31T11:49:00,Latvia,DaugavaRiver,1,DEL,...,NaN,NaN,NaN,NaN,LV0,Latvija,NaN,NaN,Latvia,final excel

In [9]:
df_final_clean.to_excel("FINAL_aois_all_details_nuts_translated.xlsx", index=False)

## manually cleaned and checked the above file and renamed it: CLEAN_FINAL_aois_all_details_nuts_translated

## this is the final dataset for copernicus data